.app-ocdownloader {

    #app-content {
        overflow-y: hidden;
        padding-right: 0 !important;

        #app-content-wrapper {
            #controls {
                background-color: $background-normal;
            }
            .content-page {
                .jumbotron {
                    background-color: $background-dark; 
                }        
            }
        }
    }

    #app-navigation {
        li {
            &:hover > div > a {
                background-color: $background-active-hover;
            }
            &:focus > div > a {
                background-color: $background-active-hover;
            }
        }
        .selected {
            background-color: $background-active-hover;
            a {
                background-color: $background-active-hover;
            }
        }
        a:focus {
            background-color: $background-active-hover;
        }
        ul {
            .active {
                background-color: $background-dark;
            }
            color: $foreground-normal;
            li {
                a {
                    color: $foreground-normal;
                }
                a:hover {
                    background-color: $background-active-hover;
                }
            }
        }
    }
}
